    
  <!--<script src="https://www.google-analytics.com/analytics.js" async defer></script>-->
  <!--<script>window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;ga('create','{{ site.ga }}','auto');ga('send','pageview')</script>-->

  <div class="card-content">
    <div class="col s8 offset-s1 l8 offset-l2">
        <h4>Contact Information</h4>
        <p style="font-size:16px">
            Team Email
            <br>
            <a href="mailto:UCCubeCats@gmail.com">UCCubeCats@gmail.com</a>
            <br>
            President's Email
            <br>
            <a href="mailto:morric5@mail.uc.edu">Morric5@mail.uc.edu</a>
        </p>
        <br>
        <br>
    </div>
</div>